name: UnityBuildTest_iOS

on:
  workflow_dispatch:

permissions: write-all
  
jobs:
  #Job 설정
  buildForiOS: 
    name: Build iOS
    runs-on: macos-latest
    steps:

      # Step1 - Check Out
      - name: Check Out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      # Step2 - Cache Library
      - name: Cache Library
        uses: actions/cache@v4
        with: 
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Create Build Directory
        run: mkdir -p Builds/iOS

      - name: Create Build Directory
        run: mkdir -p Builds/iOS

      # Step3 - Unity Build
      - name: Unity Build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: iOS
          projectPath: .
          buildName: TestProject
          buildsPath: Builds/iOS
          allowDirtyBuild: true
      
      # Step4 - Upload Build File
      - name: Upload Build File
        uses: actions/upload-artifact@v4
        with:
          name: TestProject
          path: Builds/iOS
